
<link href="~/Content/HomeStyle.css" rel="stylesheet" />

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MUSIC APPLICATION</h1>
    <p class="lead">The "Best" music app on the web.</p>
</div>

<div class="row">
    <div class="thumbnail">
        <h2>Artists</h2>
        <p><a class="btn btn-default" href="/Artists/Index.cshtml"> Veiw Our Featured Artists </a></p>
    </div>
    <div class="thumbnail">
        <h2>Albums</h2>
        <p><a class="btn btn-default" href="~/Views/Albums/Index.cshtml">Add or View Albums</a></p>
    </div>
</div>